html,
body {
    margin: 0;
    height: 100%;
}

a:link,
a:visited {
    color: darkblue;
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: underline;
    text-shadow: 0 0 10px yellow;
}

a:active {
    color: red;
}

.content {
    background: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.center_content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}